
header.header-style {
  /* background-image: url("assets/sandpaper.png"); */
  background-color: #c0c7d1;
}

button.login-button {
  margin-left: 75%;
  margin-top: 4%;
}

p.login-user {
  color: #1d2630;
  margin-top: 5%;
}
h2.my-library-styles {
  padding-left: 40%;
  padding-top: 5%;
  margin-bottom: 5%;
  margin-right: -40%;
  height: 100px;
  width: 600px
}

/* * {
    box-sizing: border-box;
} */

/* form.search-book-button input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.search-book-button button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.search-book-button button:hover {
    background: #0b7dda;
}

form.search-book-button::after {
    content: "";
    clear: both;
    display: table;
} */


img.library-img {
  height: 400px;
  width: 586px;
  padding-right: -10%;
  margin-left: -15px;
}
 .carousel-box {
   /* margin-right: -30%; */
   border: 3px solid black;
 }

section.container-mod {
  margin: 0% 19.5% 0% 19.5%;
  /* border: 2px solid red; */
}
