
header.header-style {
  /* background-image: url("assets/sandpaper.png"); */
  background-color: #c0c7d1;
}

button.login-button {
  margin-left: 75%;
  margin-top: 37%;
}

p.login-user {
  color: #f9f8f7;
  font-size: 23px;
  margin-top: 37%;
}
p.my-library-styles {
  font-size: 40px;
  margin: 2% 0% 3% 0%;
}

div.btn-modal {
margin: 3% 0% 2% 0%;
}

div.lib-img-text {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
}

div.search-btn {
  padding: 2.5% 0% 0% 35.5%;
}

img.library-img {
  height: 400px;
  width: 600px;
  padding-right: -10%;
  margin-left: -15px;
  box-shadow: 10px 10px 5px grey;
}
 img.carousel-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    float: right;

 }

 p.all-books-header {
   font-weight: bolder;
 }

 img.table-pic {
    width: 40%;
    display: block;
 }

 img.auth-sugg-image {
   max-height: 120px;
   max-width: : 100px;
   display: block;
}

td.titleToEdit {
  padding-left: 5%;
}

th.titleToEdit {
  padding-left: 5%;
}
td.synopsisToEdit {
  font-size: 12px;
}


img.book-sugg-img {
  height: 90%;
  width: 80%;
  display: block;
}

img.cover-img-upload {
  margin: auto;
  max-height: 120px;
  max-width: : 100px;
  display: block;
}

 td {
   width: 100px;
 }


 .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

label.modal-foot-pos {
  display: flex;
    justify-content: left;
}



#img-upload{
    width: 20%;
}

section.container-mod {
  margin: 0% 19.5% 0% 19.5%;
  /* border: 2px solid red; */
}
